<h1>New Membership</h1>
<% unless current_user.nil? %>
	<%= form_for(@membership) do |m|%>
		<p> Add user <%= current_user.username %> to a club:</p>
		<%= m.select :beer_club_id, options_from_collection_for_select(@beer_clubs, :id, :to_s) %>
		<br>
		<%= m.submit %>
	<% end %>
<% else %>
	<p>You're not logged in!</p>
<% end %>

<%= link_to 'Back', memberships_path %>
