<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
	<% if @user.ratings.empty? %>
		This user has no ratings yet!
	<% else %>
		This user has <%= pluralize(@user.ratings.count, 'rating') %>, averaging at 
		<%= @user.average_rating %> points.
	<% end %>
</p>

<p>
	<strong>Ratings:</strong>
	<br>
	<% @user.ratings.each do |rating| %>
		<%= link_to rating.beer.name, rating.beer %>
		| 
		<%= rating.score %>
		|
		<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
		<br>
	<% end %>
</p>

<p>
	<strong>Club memberships:</strong>
	<br>
	<% @user.memberships.each do |m| %>
		<%= link_to m.beer_club.name, m.beer_club %>
		| 
		<%= m.beer_club.year %> 
		|
		<%= link_to 'delete', m, method: :delete, data: { confirm: 'Are you sure?' } %>
		<br>
	<% end %>
</p>

<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<% end %>
<%= link_to 'Back', users_path %>
