<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<p>
  <strong>Established in </strong>
  <%= @brewery.year %>
</p>

<p>
  <strong>This brewery currently makes </strong> 
  <%= @brewery.beers.count %>
  <strong> different beers:</strong>
</p>

<p>
  <% @brewery.beers.each do |bishe| %>
  <%= link_to bishe.name, bishe %> <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
